server:
  port: 8083

spring:
  application:
    name: event-service

  datasource:
    url: jdbc:postgresql://localhost:5435/eventdb   # local run
    username: event_user
    password: event_pass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

